/* Variables */
:root {
    --font-prata: 'Prata', serif;
    --font-sacramento: 'Sacramento', cursive;
    --font-yeseva: 'Yeseva One', cursive;
    --green: #65c4b9;
    --ligth-brown: #A67E5B;

}

/* Estilos para todos los elementos */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Icono de WhatsApp */
#whatsapp {
    width: 60px;
    border-radius: 32px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

/* Cuerpo */
body {
    font-family: var(--font-prata);
    font-size: 1em;
}

/* SLICK CAROUSEL */
div.slider {
    margin: 5px 100px 5px 100px;
    background-color: white;
}

div.slider div img {
    margin: 5px;
}

.slick-prev:before {
    color: #9B9B9B;
}

.slick-next:before {
    color: #9B9B9B;
}

/* SLICK CAROUSEL */

/* Formulario */
.contenido-formulario {
    height: 80vh;
}

/* Titulo */
.titulo {
    height: 10vh;
    margin-bottom: 15px;
    background: var(--green);
    font-family: var(--font-yeseva);
    color: white;
}

/* Producto */
.producto {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 15px;
}

.producto:hover {
    box-shadow: 0px 0px 15px 0px #C8CEC4;
}

.descripcion {
    padding: 5px;
}

.descripcion p {
    margin-bottom: 0;
}

.descripcion>h2:first-child {
    font-size: 1em;
}

/* Lista de productos añadidos al carrito de compras */
.productoLista {
    padding: 15px;
    margin: 20px;
    border: 1px solid var(--green);
}

.productoLista p:first-child {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--ligth-brown);
}

.productoLista p:last-child {
    font-weight: 600;
}

/* Modal */
.modal .modal-body {
    padding: 0;
}

/* Pie de pagina */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}